.theme__avatar___3OjJz {
  background-color: rgb(158, 158, 158);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
  height: 40px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%
}
.theme__avatar___3OjJz *,
    .theme__avatar___3OjJz *::after,
    .theme__avatar___3OjJz *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
}
.theme__avatar___3OjJz > svg {
  fill: currentColor;
  height: 40px;
  width: 1em;
}
.theme__avatar___3OjJz > img {
  height: auto;
  max-width: 100%;
}
.theme__image___2Ueo9 {
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.theme__letter___26GdB {
  display: block;
  line-height: 40px;
  width: 100%;
}
.theme__card___8pay8 {
  background: rgb(255, 255, 255);
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%
}
.theme__card___8pay8 *,
    .theme__card___8pay8 *::after,
    .theme__card___8pay8 *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
}
.theme__card___8pay8.theme__raised___1AHwB {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12),
    0 5px 5px -3px rgba(0, 0, 0, .2);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12),
    0 5px 5px -3px rgba(0, 0, 0, .2);
}
.theme__cardMedia___3Yc6z {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}
.theme__cardMedia___3Yc6z.theme__wide___35NNe,
  .theme__cardMedia___3Yc6z.theme__square___1HBxg {
  width: 100%;
}
.theme__cardMedia___3Yc6z.theme__wide___35NNe .theme__content___ewAVM, .theme__cardMedia___3Yc6z.theme__square___1HBxg .theme__content___ewAVM {
  height: 100%;
  position: absolute;
}
.theme__cardMedia___3Yc6z.theme__wide___35NNe .theme__content___ewAVM > iframe,
    .theme__cardMedia___3Yc6z.theme__wide___35NNe .theme__content___ewAVM > video,
    .theme__cardMedia___3Yc6z.theme__wide___35NNe .theme__content___ewAVM > img,
    .theme__cardMedia___3Yc6z.theme__square___1HBxg .theme__content___ewAVM > iframe,
    .theme__cardMedia___3Yc6z.theme__square___1HBxg .theme__content___ewAVM > video,
    .theme__cardMedia___3Yc6z.theme__square___1HBxg .theme__content___ewAVM > img {
  max-width: 100%;
}
.theme__cardMedia___3Yc6z::after {
  content: '';
  display: block;
  height: 0;
}
.theme__cardMedia___3Yc6z.theme__wide___35NNe::after {
  padding-top: 56.25%;
}
.theme__cardMedia___3Yc6z.theme__square___1HBxg::after {
  padding-top: 100%;
}
.theme__cardMedia___3Yc6z .theme__content___ewAVM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}
.theme__cardMedia___3Yc6z .theme__contentOverlay___1bBKz .theme__cardTitle___1dU3o,
    .theme__cardMedia___3Yc6z .theme__contentOverlay___1bBKz .theme__cardActions___ZoLIG,
    .theme__cardMedia___3Yc6z .theme__contentOverlay___1bBKz .theme__cardText___K_kzH {
  background-color: rgba(0, 0, 0, 0.35);
}
.theme__cardMedia___3Yc6z .theme__cardTitle___1dU3o .theme__title___3qCP3,
    .theme__cardMedia___3Yc6z .theme__cardTitle___1dU3o .theme__subtitle___3p3mO {
  color: rgb(255, 255, 255);
}
.theme__cardTitle___1dU3o {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.theme__cardTitle___1dU3o [data-react-toolbox='avatar'] {
  margin-right: 13px;
}
.theme__cardTitle___1dU3o .theme__title___3qCP3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.theme__cardTitle___1dU3o .theme__subtitle___3p3mO {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.theme__cardTitle___1dU3o.theme__large___2iwOK {
  padding: 20px 16px 14px;
}
.theme__cardTitle___1dU3o.theme__large___2iwOK .theme__title___3qCP3 {
  font-size: 24px;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.25;
}
.theme__cardTitle___1dU3o.theme__small___1RHxe {
  padding: 16px;
}
.theme__cardTitle___1dU3o.theme__small___1RHxe .theme__title___3qCP3 {
  font-size: 22.4px;
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.4;
}
.theme__cardTitle___1dU3o.theme__small___1RHxe .theme__subtitle___3p3mO {
  font-weight: 500;
  line-height: 1.4;
}
.theme__cardTitle___1dU3o,
.theme__cardText___K_kzH {
  padding: 14px 16px
}
.theme__cardTitle___1dU3o p, .theme__cardText___K_kzH p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0;
}
.theme__cardTitle___1dU3o:last-child, .theme__cardText___K_kzH:last-child {
  padding-bottom: 20px;
}
.theme__cardTitle___1dU3o + .theme__cardText___K_kzH, .theme__cardText___K_kzH + .theme__cardText___K_kzH {
  padding-top: 0;
}
.theme__cardActions___ZoLIG {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 8px
}
.theme__cardActions___ZoLIG [data-react-toolbox='button'] {
  margin: 0 4px;
  min-width: 0;
  padding: 0 8px;
}
.theme__cardActions___ZoLIG [data-react-toolbox='button']:first-child {
  margin-left: 0;
}
.theme__cardActions___ZoLIG [data-react-toolbox='button']:last-child {
  margin-right: 0;
}
.theme__rippleWrapper___16N7o {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.theme__ripple___3SV_u {
  background-color: currentColor;
  border-radius: 50%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  z-index: 100
}
.theme__ripple___3SV_u.theme__rippleRestarting___2OZWa {
  opacity: 0.3;
  -webkit-transition-property: none;
  transition-property: none;
}
.theme__ripple___3SV_u.theme__rippleActive___3O2Ue {
  opacity: 0.3;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.theme__ripple___3SV_u:not(.theme__rippleActive___3O2Ue):not(.theme__rippleRestarting___2OZWa) {
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.theme__field___3Tq32 {
  display: block;
  height: 18px;
  margin-bottom: 15px;
  position: relative;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%
}
.theme__field___3Tq32 *,
    .theme__field___3Tq32 *::after,
    .theme__field___3Tq32 *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
}
.theme__field___3Tq32 .theme__ripple___2NWrZ {
  background-color: rgb(63, 81, 181);
  opacity: 0.3;
  -webkit-transition-duration: 650ms;
          transition-duration: 650ms;
}
.theme__text___dXU7C {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  padding-left: 10px;
  vertical-align: top;
  white-space: nowrap;
}
.theme__input___271V1 {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0
}
.theme__input___271V1:focus ~ .theme__check___1CXAo::before {
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 50%;
  content: '';
  height: 41.4px;
  left: 50%;
  margin-left: -20.7px;
  margin-top: -20.7px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 41.4px;
}
.theme__input___271V1:focus ~ .theme__check___1CXAo.theme__checked___nSz7s::before {
  background-color: rgba(63, 81, 181, 0.26);
}
.theme__check___1CXAo {
  border-color: rgb(0, 0, 0);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  position: relative;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: top;
  width: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%
}
.theme__check___1CXAo *,
    .theme__check___1CXAo *::after,
    .theme__check___1CXAo *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
}
.theme__check___1CXAo.theme__checked___nSz7s {
  background-color: rgb(63, 81, 181);
  border-color: rgb(63, 81, 181);
}
.theme__check___1CXAo.theme__checked___nSz7s::after {
  -webkit-animation: theme__checkmark-expand___3GU9D 140ms ease-out forwards;
          animation: theme__checkmark-expand___3GU9D 140ms ease-out forwards;
  border-bottom-width: 2px;
  border-color: rgb(255, 255, 255);
  border-left: 0;
  border-right-width: 2px;
  border-style: solid;
  border-top: 0;
  content: '';
  height: 12px;
  left: 4px;
  position: absolute;
  top: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 7px;
}
.theme__disabled___2jVLS > .theme__text___dXU7C {
  color: rgba(0, 0, 0, 0.26);
}
.theme__disabled___2jVLS > .theme__check___1CXAo {
  border-color: rgba(0, 0, 0, 0.26);
  cursor: auto;
}
.theme__disabled___2jVLS > .theme__check___1CXAo.theme__checked___nSz7s {
  background-color: rgba(0, 0, 0, 0.26);
  border-color: transparent;
  cursor: auto;
}
@-webkit-keyframes theme__checkmark-expand___3GU9D {
  0% {
    height: 0;
    left: 6px;
    top: 9px;
    width: 0;
  }

  100% {
    height: 12px;
    left: 4px;
    top: -1px;
    width: 7px;
  }
}
@keyframes theme__checkmark-expand___3GU9D {
  0% {
    height: 0;
    left: 6px;
    top: 9px;
    width: 0;
  }

  100% {
    height: 12px;
    left: 4px;
    top: -1px;
    width: 7px;
  }
}
.theme__table___2xofu {
  background-color: rgb(255, 255, 255);
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
.theme__table___2xofu *,
    .theme__table___2xofu *::after,
    .theme__table___2xofu *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
}
.theme__head___1eF5Z {
  padding-bottom: 3px;
  white-space: nowrap;
}
.theme__row___1qppP {
  color: rgba(0, 0, 0, 0.87);
  height: 48px;
  -webkit-transition-duration: 0.28s;
          transition-duration: 0.28s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.theme__row___1qppP:hover {
  background-color: #eee;
}
.theme__row___1qppP.theme__selected___1H1dU {
  background-color: #f5f5f5;
}
.theme__rowCell___18bqN,
.theme__headCell___gfcPv {
  padding: 0 18px 12px 18px;
  text-align: left
}
.theme__rowCell___18bqN:first-of-type, .theme__headCell___gfcPv:first-of-type {
  padding-left: 24px;
}
.theme__rowCell___18bqN:last-of-type, .theme__headCell___gfcPv:last-of-type {
  padding-right: 24px;
}
.theme__rowCell___18bqN.theme__numeric___3suRQ, .theme__headCell___gfcPv.theme__numeric___3suRQ {
  text-align: right;
}
.theme__rowCell___18bqN {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  height: 48px;
  padding-top: 12px;
  vertical-align: middle
}
.theme__rowCell___18bqN.theme__checkboxCell___2yhwA {
  width: 18px;
}
.theme__rowCell___18bqN.theme__checkboxCell___2yhwA > * {
  margin: 0;
}
.theme__headCell___gfcPv {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 500;
  height: 48px;
  line-height: 24px;
  padding-bottom: 8px;
  text-overflow: ellipsis;
  vertical-align: bottom
}
.theme__headCell___gfcPv.theme__checkboxCell___2yhwA {
  width: 18px;
}
.theme__headCell___gfcPv.theme__checkboxCell___2yhwA > * {
  margin: 0 0 3px;
}
.theme__headCell___gfcPv.theme__sorted___2r5OG {
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
.theme__headCell___gfcPv.theme__sorted___2r5OG:hover .theme__sortIcon___3NJs5 {
  color: rgba(0, 0, 0, 0.26);
}
.theme__sortIcon___3NJs5 {
  display: inline-block;
  font-size: 16px;
  margin-right: 3px;
  -webkit-transition: 0.28s -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.28s -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.28s transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.28s transform cubic-bezier(0.4, 0, 0.2, 1), 0.28s -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: sub
}
.theme__sortIcon___3NJs5.theme__asc___wZHUA {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.theme__button___2Agdx {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  cursor: pointer;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0;
  line-height: 36px;
  outline: none;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition:
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition:
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition:
    box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition:
    box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%
}
.theme__button___2Agdx *,
    .theme__button___2Agdx *::after,
    .theme__button___2Agdx *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
}
.theme__button___2Agdx > input {
  height: 0.1px;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1px;
  z-index: 0;
}
.theme__button___2Agdx::-moz-focus-inner {
  border: 0;
}
.theme__button___2Agdx > span:not([data-react-toolbox='tooltip']) {
  display: inline-block;
  line-height: 36px;
  vertical-align: middle;
}
.theme__button___2Agdx > svg {
  display: inline-block;
  fill: currentColor;
  font-size: 120%;
  height: 36px;
  vertical-align: top;
  width: 1em;
}
.theme__button___2Agdx > * {
  pointer-events: none;
}
.theme__button___2Agdx > .theme__rippleWrapper___3AVBi {
  overflow: hidden;
}
.theme__button___2Agdx[disabled] {
  color: rgba(0, 0, 0, 0.26);
  cursor: auto;
  pointer-events: none;
}
.theme__squared___2GH_L {
  border-radius: 2px;
  min-width: 90px;
  padding: 0 12px
}
.theme__squared___2GH_L .theme__icon___3aBSX {
  font-size: 120%;
  margin-right: 6px;
  vertical-align: middle;
}
.theme__squared___2GH_L > svg {
  margin-right: 5px;
}
.theme__solid___1ZxqC[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
}
.theme__solid___1ZxqC:active {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
}
.theme__solid___1ZxqC:focus:not(:active) {
  -webkit-box-shadow:
      0 0 8px rgba(0, 0, 0, .18),
      0 8px 16px rgba(0, 0, 0, .36);
          box-shadow:
      0 0 8px rgba(0, 0, 0, .18),
      0 8px 16px rgba(0, 0, 0, .36);
}
.theme__raised___221ic {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
}
.theme__flat___1jWAQ {
  background: transparent;
}
.theme__floating___3IRMZ {
  border-radius: 50%;
  -webkit-box-shadow:
    0 1px 1.5px 0 rgba(0, 0, 0, .12),
    0 1px 1px 0 rgba(0, 0, 0, .24);
          box-shadow:
    0 1px 1.5px 0 rgba(0, 0, 0, .12),
    0 1px 1px 0 rgba(0, 0, 0, .24);
  font-size: 24px;
  height: 56px;
  width: 56px
}
.theme__floating___3IRMZ .theme__icon___3aBSX:not([data-react-toolbox='tooltip']) {
  line-height: 56px;
}
.theme__floating___3IRMZ > .theme__rippleWrapper___3AVBi {
  border-radius: 50%;
}
.theme__floating___3IRMZ.theme__mini___2DCN- {
  font-size: 17.77778px;
  height: 40px;
  width: 40px;
}
.theme__floating___3IRMZ.theme__mini___2DCN- .theme__icon___3aBSX {
  font-size: 17.77778px;
  line-height: 40px;
}
.theme__toggle___hC5Z2 {
  background: transparent;
  border-radius: 50%;
  vertical-align: middle;
  width: 36px
}
.theme__toggle___hC5Z2 > .theme__icon___3aBSX,
  .theme__toggle___hC5Z2 svg {
  font-size: 20px;
  line-height: 36px;
  vertical-align: top;
}
.theme__toggle___hC5Z2 > .theme__rippleWrapper___3AVBi {
  border-radius: 50%;
}
.theme__primary___3tTAW:not([disabled]).theme__raised___221ic,
  .theme__primary___3tTAW:not([disabled]).theme__floating___3IRMZ {
  background: rgb(63, 81, 181);
  color: rgb(255, 255, 255);
}
.theme__primary___3tTAW:not([disabled]).theme__flat___1jWAQ,
  .theme__primary___3tTAW:not([disabled]).theme__toggle___hC5Z2 {
  color: rgb(63, 81, 181);
}
.theme__primary___3tTAW:not([disabled]).theme__flat___1jWAQ:focus:not(:active), .theme__primary___3tTAW:not([disabled]).theme__toggle___hC5Z2:focus:not(:active) {
  background: rgba(63, 81, 181, 0.2);
}
.theme__primary___3tTAW:not([disabled]).theme__flat___1jWAQ:hover {
  background: rgba(63, 81, 181, 0.2);
}
.theme__accent___2wp6F:not([disabled]).theme__raised___221ic,
  .theme__accent___2wp6F:not([disabled]).theme__floating___3IRMZ {
  background: rgb(255, 64, 129);
  color: rgb(255, 255, 255);
}
.theme__accent___2wp6F:not([disabled]).theme__flat___1jWAQ,
  .theme__accent___2wp6F:not([disabled]).theme__toggle___hC5Z2 {
  color: rgb(255, 64, 129);
}
.theme__accent___2wp6F:not([disabled]).theme__flat___1jWAQ:focus:not(:active), .theme__accent___2wp6F:not([disabled]).theme__toggle___hC5Z2:focus:not(:active) {
  background: rgba(255, 64, 129, 0.2);
}
.theme__accent___2wp6F:not([disabled]).theme__flat___1jWAQ:hover {
  background: rgba(255, 64, 129, 0.2);
}
.theme__neutral___2CPs4:not([disabled]).theme__raised___221ic,
  .theme__neutral___2CPs4:not([disabled]).theme__floating___3IRMZ {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 33, 33);
}
.theme__neutral___2CPs4:not([disabled]).theme__flat___1jWAQ,
  .theme__neutral___2CPs4:not([disabled]).theme__toggle___hC5Z2 {
  color: rgb(33, 33, 33);
}
.theme__neutral___2CPs4:not([disabled]).theme__flat___1jWAQ:focus:not(:active), .theme__neutral___2CPs4:not([disabled]).theme__toggle___hC5Z2:focus:not(:active) {
  background: rgba(33, 33, 33, 0.2);
}
.theme__neutral___2CPs4:not([disabled]).theme__flat___1jWAQ:hover {
  background: rgba(33, 33, 33, 0.2);
}
.theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__raised___221ic,
    .theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__floating___3IRMZ {
  background-color: rgb(33, 33, 33);
  color: rgb(255, 255, 255);
}
.theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__flat___1jWAQ,
    .theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__toggle___hC5Z2 {
  color: rgb(255, 255, 255);
}
.theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__flat___1jWAQ:focus:not(:active), .theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__toggle___hC5Z2:focus:not(:active) {
  background: rgba(33, 33, 33, 0.2);
}
.theme__neutral___2CPs4:not([disabled]).theme__inverse___2SPZr.theme__flat___1jWAQ:hover {
  background: rgba(33, 33, 33, 0.2);
}
.theme__neutral___2CPs4.theme__inverse___2SPZr[disabled] {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.54);
}
.theme__trans-height___2WAxO .trans-height-fast-appear {
    max-height: 20px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0.01
}
.theme__trans-height___2WAxO .trans-height-fast-appear.trans-height-fast-appear-active {
    opacity: 1;
    max-height: 2000px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-height___2WAxO .trans-height-fast-enter {
    max-height: 20px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0.01
}
.theme__trans-height___2WAxO .trans-height-fast-enter.trans-height-fast-enter-active {
    opacity: 1;
    max-height: 2000px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-height___2WAxO .trans-height-fast-leave {
    max-height: 2000px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1
}
.theme__trans-height___2WAxO .trans-height-fast-leave.trans-height-fast-leave-active {
    opacity: 0.01;
    max-height: 20px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-height___2WAxO .trans-height-slow-appear {
    max-height: 20px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0.01
}
.theme__trans-height___2WAxO .trans-height-slow-appear.trans-height-slow-appear-active {
    opacity: 1;
    max-height: 2000px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-height___2WAxO .trans-height-slow-enter {
    max-height: 20px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0.01
}
.theme__trans-height___2WAxO .trans-height-slow-enter.trans-height-slow-enter-active {
    opacity: 1;
    max-height: 2000px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-height___2WAxO .trans-height-slow-leave {
    max-height: 2000px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1
}
.theme__trans-height___2WAxO .trans-height-slow-leave.trans-height-slow-leave-active {
    opacity: 0.01;
    max-height: 20px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-fade___TzjJg .trans-fade-fast-enter {
    opacity: 0.01
}
.theme__trans-fade___TzjJg .trans-fade-fast-enter.trans-fade-fast-enter-active {
    opacity: 1;
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-fade___TzjJg .trans-fade-fast-leave {
    opacity: 1
}
.theme__trans-fade___TzjJg .trans-fade-fast-leave.trans-fade-fast-leave-active {
    opacity: 0.01;
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-fade___TzjJg .trans-fade-slow-enter {
    opacity: 0.01
}
.theme__trans-fade___TzjJg .trans-fade-slow-enter.trans-fade-slow-enter-active {
    opacity: 1;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.theme__trans-fade___TzjJg .trans-fade-slow-leave {
    opacity: 1
}
.theme__trans-fade___TzjJg .trans-fade-slow-leave.trans-fade-slow-leave-active {
    opacity: 0.01;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.theme__trans-slide___16to1 .trans-slide-fast-appear {
    max-width: 20px;
    opacity: 0.01
}
.theme__trans-slide___16to1 .trans-slide-fast-appear.trans-slide-fast-appear-active {
    opacity: 1;
    max-width: 500px;
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-slide___16to1 .trans-slide-fast-enter {
    max-width: 20px;
    opacity: 0.01
}
.theme__trans-slide___16to1 .trans-slide-fast-enter.trans-slide-fast-enter-active {
    opacity: 1;
    max-width: 500px;
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-slide___16to1 .trans-slide-fast-leave {
    max-width: 500px;
    opacity: 1
}
.theme__trans-slide___16to1 .trans-slide-fast-leave.trans-slide-fast-leave-active {
    opacity: 0.01;
    max-width: 20px;
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-slide___16to1 .trans-slide-slow-appear {
    max-width: 20px;
    opacity: 0.01
}
.theme__trans-slide___16to1 .trans-slide-slow-appear.trans-slide-slow-appear-active {
    opacity: 1;
    max-width: 500px;
    -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-slide___16to1 .trans-slide-slow-enter {
    max-width: 20px;
    opacity: 0.01
}
.theme__trans-slide___16to1 .trans-slide-slow-enter.trans-slide-slow-enter-active {
    opacity: 1;
    max-width: 500px;
    -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__trans-slide___16to1 .trans-slide-slow-leave {
    max-width: 500px;
    opacity: 1
}
.theme__trans-slide___16to1 .trans-slide-slow-leave.trans-slide-slow-leave-active {
    opacity: 0.01;
    max-width: 20px;
    -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}.theme__input___lFVgC {
  padding: 20px 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%
}
.theme__input___lFVgC *,
    .theme__input___lFVgC *::after,
    .theme__input___lFVgC *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none;
}
.theme__input___lFVgC.theme__withIcon___1nKdf {
  margin-left: 68px;
}
.theme__icon___3ga1V {
  color: rgba(0, 0, 0, 0.26);
  display: block;
  font-size: 24px !important;
  height: 48px;
  left: -68px;
  line-height: 48px !important;
  position: absolute;
  text-align: center;
  top: 16px;
  -webkit-transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  width: 48px;
}
.theme__inputElement___4bZUj {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: rgb(33, 33, 33);
  display: block;
  font-size: 16px;
  outline: none;
  padding: 8px 0;
  width: 100%
}
.theme__inputElement___4bZUj:focus:not([disabled]):not([readonly]) ~ .theme__bar___3FySS::before,
    .theme__inputElement___4bZUj:focus:not([disabled]):not([readonly]) ~ .theme__bar___3FySS::after {
  width: 50%;
}
.theme__inputElement___4bZUj:focus:not([disabled]):not([readonly]) ~ .theme__label___34120:not(.theme__fixed___GRQEP) {
  color: rgb(63, 81, 181);
}
.theme__inputElement___4bZUj:focus:not([disabled]):not([readonly]) ~ .theme__label___34120 > .theme__required___2G0aY {
  color: rgb(222, 50, 38);
}
.theme__inputElement___4bZUj:focus:not([disabled]):not([readonly]) ~ .theme__hint___bMyi_ {
  display: block;
  opacity: 1;
}
.theme__inputElement___4bZUj:focus:not([disabled]):not([readonly]) ~ .theme__icon___3ga1V {
  color: rgb(63, 81, 181);
}
.theme__inputElement___4bZUj:focus:not([disabled]):not([readonly]).theme__filled___34NWn ~ .theme__hint___bMyi_ {
  opacity: 0;
}
.theme__inputElement___4bZUj:focus:not([disabled]):not([readonly]) ~ .theme__label___34120:not(.theme__fixed___GRQEP), .theme__inputElement___4bZUj.theme__filled___34NWn ~ .theme__label___34120:not(.theme__fixed___GRQEP), .theme__inputElement___4bZUj[type='date'] ~ .theme__label___34120:not(.theme__fixed___GRQEP), .theme__inputElement___4bZUj[type='time'] ~ .theme__label___34120:not(.theme__fixed___GRQEP) {
  font-size: 12px;
  top: 6px;
}
.theme__inputElement___4bZUj.theme__filled___34NWn ~ .theme__label___34120.theme__fixed___GRQEP,
  .theme__inputElement___4bZUj.theme__filled___34NWn ~ .theme__hint___bMyi_ {
  display: none;
}
.theme__label___34120 {
  color: rgba(0, 0, 0, 0.26);
  font-size: 16px;
  left: 0;
  line-height: 16px;
  pointer-events: none;
  position: absolute;
  top: 32px;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-property: top, font-size, color;
  transition-property: top, font-size, color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.theme__label___34120.theme__fixed___GRQEP ~ .theme__hint___bMyi_ {
  display: none;
}
.theme__hint___bMyi_ {
  color: rgba(0, 0, 0, 0.26);
  font-size: 16px;
  left: 0;
  line-height: 16px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 32px;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__bar___3FySS {
  display: block;
  position: relative;
  width: 100%
}
.theme__bar___3FySS::before,
  .theme__bar___3FySS::after {
  background-color: rgb(63, 81, 181);
  bottom: 0;
  content: '';
  height: 2px;
  position: absolute;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 0;
}
.theme__bar___3FySS::before {
  left: 50%;
}
.theme__bar___3FySS::after {
  right: 50%;
}
.theme__error___2k5Jz,
.theme__counter___1oTuT {
  color: rgb(222, 50, 38);
  font-size: 12px;
  line-height: 20px;
  margin-bottom: -20px;
}
.theme__counter___1oTuT {
  color: rgba(0, 0, 0, 0.26);
  position: absolute;
  right: 0;
}
.theme__disabled___3ZfJq > .theme__inputElement___4bZUj {
  border-bottom-style: dotted;
  color: rgba(0, 0, 0, 0.26);
}
.theme__errored___2s74E {
  padding-bottom: 0
}
.theme__errored___2s74E > .theme__inputElement___4bZUj {
  border-bottom-color: rgb(222, 50, 38);
  margin-top: 1px;
}
.theme__errored___2s74E > .theme__counter___1oTuT,
  .theme__errored___2s74E > .theme__label___34120 {
  color: rgb(222, 50, 38);
}
.theme__errored___2s74E > .theme__label___34120 > .theme__required___2G0aY {
  color: rgb(222, 50, 38);
}
.theme__hidden___2gAMv {
  display: none;
}
.theme__datagrid___3RH13 {
    -webkit-transition: height 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: height 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    // max-height: 2000px;
}
.theme__datagrid___3RH13 .theme__datagrid-title___10sPi > div {
    width: 100%;
}
.theme__datagrid___3RH13 .theme__datagrid-title___10sPi .theme__datagrid-title-row___Q8PrH {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.theme__datagrid___3RH13 .theme__datagrid-title___10sPi .theme__datagrid-caption___16Oqx {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
}
.theme__datagrid___3RH13 .theme__datagrid-title___10sPi .theme__datagrid-extra-info___1o635 {
    font-style: italic;
    min-height: 1.25em;
}
.theme__datagrid___3RH13 .theme__datagrid-title___10sPi .theme__datagrid-actions___1fozt .theme__datagrid-filter___2T77W {
    position: relative;
}
.theme__datagrid___3RH13 .theme__datagrid-title___10sPi .theme__datagrid-actions___1fozt .theme__datagrid-filter___2T77W .theme__filter-input___gWJxW {
    position: absolute;
    right: 0;
    top: 0;
    background: #fafafa;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .16), 0 3px 10px rgba(0, 0, 0, .23);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16), 0 3px 10px rgba(0, 0, 0, .23);
    width: 250px;
}
.theme__datagrid___3RH13 .theme__datagrid-title___10sPi .theme__datagrid-actions___1fozt .theme__datagrid-filter___2T77W .theme__filter-input___gWJxW [data-react-toolbox="input"] {
    position: relative;
}
.theme__datagrid___3RH13 .theme__datagrid-title___10sPi .theme__datagrid-actions___1fozt .theme__datagrid-filter___2T77W .theme__filter-input___gWJxW [data-react-toolbox="input"] .theme__clear-filter-button___2C0pI {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    vertical-align: middle;
    height: 100%;
    color: rgba(0, 0, 0, .2);
}
.theme__datagrid___3RH13 .theme__datagrid-body___2UBo- {
    overflow-x: auto;
}
.theme__datagrid-row___2CwbH {
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme__datagrid-row___2CwbH td {
    border-bottom: none!important;
    padding-top: 6px;
    padding-bottom: 6px;
}
.theme__datagrid-row___2CwbH:hover {
    background: #fafafa;
}
.theme__datagrid-row___2CwbH:hover + tr td {
    background: #fafafa;
}
.theme__datagrid-row-hidden___2soQe {
    height: 0!important;
}
.theme__datagrid-row-hidden___2soQe > td {
    height: 1px!important;
    /* 1px is make the border visible */
    padding: 0!important;
    border-top: none;
}
.theme__datagrid-row-hidden___2soQe:hover td {
    background: rgb(255, 255, 255);
}
.theme__datagrid-row-hidden___2soQe .theme__hidden-content-item___Nw8bN .theme__hidden-content-item-head___19Qm4 {
    color: rgb(117, 117, 117);
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 8px;
    text-overflow: ellipsis;
    min-width: 20%;
    display: inline-block;
    margin-left: 60px;
    font-style: italic;
    padding-right: 15px;
}
.theme__datagrid-row-hidden___2soQe .theme__hidden-content-item___Nw8bN .theme__hidden-content-item-data___cx4qS {}
.theme__hidden-content-button-cell___2-hgA {
    padding: 0 !important;
    width: 24px;
}
.theme__hidden-content-button-cell___2-hgA .theme__hidden-content-toggle-button___3UBJq .theme__expanded___3yM1X {
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.theme__hidden-content-button-cell___2-hgA .theme__hidden-content-toggle-button___3UBJq .theme__collapsed___2QEUh {
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.theme__datagrid-table-info___DpkQW {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.theme__datagrid-table-info___DpkQW .theme__info-range-wrapper___1ZLZW {}
.theme__datagrid-table-info___DpkQW .theme__pagination-wrapper___3LpRs .theme__pagination___1SsKP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.theme__datagrid-table-info___DpkQW .theme__pagination-wrapper___3LpRs .theme__pagination___1SsKP .theme__pagination-node___2SJ0F {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    cursor: pointer;
}
.theme__swipe-area___3xF_N {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.theme__swipe-area___3xF_N .theme__swipe-area-column___koLnu {
    display: inline-block;
    margin: 7.5px;
    width: 5px;
    height: 5px;
    border-radius: 15px;
    background: #fafafa;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out
}
.theme__swipe-area___3xF_N .theme__swipe-area-column___koLnu.theme__active___aRJjS {
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .2);
}
/*@media (--xs-only) {
    .datagrid-table-info {
        flex-direction: column;
        align-items: center;
        .pagination-wrapper{
            .pagination {
                .pagination-node {
                    &:not(:first-of-type):not(:last-of-type) {
                        display: none;
                    }
                }
            }
        }
    }
}*/
